.custom-height[data-v-0c3efa33]{height:60px;display:flex;align-items:center;justify-content:center}@media(min-width:960px){.custom-height[data-v-0c3efa33]{height:40px}}[data-v-01197568] .text-h6{line-height:1}
